<header class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link active" href="#">Főoldal<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Új Beteg
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-primary" (click)="logout()">Kijelentkezés</button>
            </li>
        </ul>
    </nav>
    <h3>Betegnyilvántartó alkalmazás</h3>
    <ng-container *ngIf="loggedInUserName">
        <h5 class="text-muted">Bejelentkezve mint: {{loggedInUserName}}</h5>
    </ng-container>
</header>
<main role="main">
 
    <app-patient-list></app-patient-list>
    <app-add-patient></app-add-patient>
    <app-edit-patient></app-edit-patient>
    <app-delete-patient></app-delete-patient>
 
</main>
<footer class="footer">
    <p>&copy; Fejti Martin, W1QRFA</p>
</footer>
