<ng-container *ngIf="patients">
    <div class="list-group" (click)="preventReload($event)">
        <a *ngFor="let patient of patients" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{patient.name}}</h5>
                <div class="btn-group" id="icons-container">
                    <button type="button" class="btn btn-primary" (click)="showDetails()">Részletek</button>
                    <button type="button" class="btn btn-primary">Szerkesztés</button>
                    <button type="button" class="btn btn-primary">Törlés</button>
                </div>
            </div>
            <app-patient-details [patient] = "patient" [toggleDetails]="toggleDetails"></app-patient-details>
        </a>
    </div>
</ng-container>