<ng-container *ngIf="patients">
    <div class="list-group">
        <a *ngFor="let patient of patients" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{patient.name}}</h5>
            </div>
            <div id="icons-container">
                <img title="Szerkesztés" src="./../../assets/icons/edit.png" [ngClass]="'icons'">
                <img title="Törlés" src="./../../assets/icons/delete.png" [ngClass]="'icons'">
            </div>
        </a>
    </div>
</ng-container>