<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Betegfelvétel</h5>
                <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
    
    
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Név</label>
                        <input [(ngModel)]="patient.name" name="patientName" type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Írja be a nevet">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Születési Dátum</label>
                        <input [(ngModel)]="patient.birthdate" type="date" name="birthdate" class="form-control" id="inputBirthdate">
                    </div>
                    <div class="form-group">
                            <label for="inputTAJNumber">TAJ Szám</label>
                            <input [(ngModel)]="patient.tAJNumber" type="number" name="tAJNumber" class="form-control" id="inputTAJNumber" placeholder="Írja be a TAJ számot">
                    </div>
                    <div class="form-group">
                        <label for="inputDiagnosis">Diagnózis</label>
                        <input [(ngModel)]="disease.diagnosis" type="text" name="diagnosis" class="form-control" id="inputDiagnosis" placeholder="Írja be a diagnózist">
                    </div>
                    <div class="form-group">
                        <label for="inputPrescribedMedicines">Felírt gyógyszerek (pontosvesszővel elválasztva!)</label>
                        <textarea [(ngModel)]="tempPrescribedMedicines" name="prescribedMedicines" class="form-control" id="inputPrescribedMedicines" placeholder="Gyógyszer1; Gyógyszer2 ..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputTreatmentList">Felírt kezelések (pontosvesszővel elválasztva!)</label>
                        <textarea [(ngModel)]="tempTreatmentList" name="treatmentList" class="form-control" id="inputTreatmentList" placeholder="Kezelés1; Kezelés2 ..."></textarea>
                    </div>
    
                    
    
                    <button type="button" (click) = "addPatient()" class="btn btn-primary">Hozzáad</button>
                </form>
    
    
            </div>
        </div>
    </div>
</div>